{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block main %}

<form action="/new_listing" method="post" enctype="multipart/form-data" id="listing-form">
        
    <label for="title">Title</label>
    <input name="title" type="text" id="title" placeholder="Title" required>
    
    <label for="description">Description</label>
    <textarea name="description" rows="4" id="description" placeholder="Description of your listing" required></textarea>
    
    <label for="price">Price</label>
    <input name="price" type="number" id="price" step="0.01" min="0" placeholder="Price" required>
    
    <label for="image">Image</label>
    <input name="image" type="file" id="image" accept="image/*" onchange="previewImage(event)">
    <img id="image-preview" src="#" alt="Image Preview" style="display: none; margin-top: 10px; max-width: 100%;">
    
    <br>
    <label for="auction_end_time">Auction End Time</label>
    <input name="auction_end_time" type="datetime-local" id="auction_end_time">
    
    <button type="submit">Submit</button>
    
</form>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('image-preview');
            output.src = reader.result;
            output.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    }

    function setMinDateTime() {
            var now = new Date();
            var year = now.getFullYear();
            var month = (now.getMonth() + 1).toString().padStart(2, '0');
            var day = now.getDate().toString().padStart(2, '0');
            var hours = now.getHours().toString().padStart(2, '0');
            var minutes = now.getMinutes().toString().padStart(2, '0');
            var currentDateTime = `${year}-${month}-${day}T${hours}:${minutes}`;
            document.getElementById('auction_end_time').setAttribute('min', currentDateTime);
        }

        document.addEventListener('DOMContentLoaded', setMinDateTime);
</script>

{% endblock %}
