{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block main %}

    <form action="/register" method="post">

        <input name="user_name" type="text" placeholder="Username" required>
        <input name="email" type="email" placeholder="Eamil" required>

        <input name="password" type="password" placeholder="Password" required>
        <input name="password_again" type="password" placeholder="Password Again" required>
        
        <button type="submit">Register</button>

    </form>

{% endblock %}
